.header-box {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.logo {
  margin-left: 30px;
  text-decoration: none;
  font-size: 24px;
  color: $brand-color;
  font-family: "Permanent Marker", cursive;
  font-weight: 700;
}
.nav-box {
  padding-top: 5px;
  margin-bottom: 7.5px;
  margin-right: 20px;
  position: relative;
  &__text {
    text-decoration: none;
    margin-right: 20px;
    color: $brand-color;
  }
  &--link-active {
    position: relative;
    color: $brand-color;

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 46.8px;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $brand-color;
      border-radius: 2px;
    }
  }
}
.header-line {
  border-bottom: 4px solid gray;
}
.sreach-bg {
  font-size: 12px;
  margin-top: 5px;
  height: 25px;
  background-color: gray;
  color: $brand-color;
  outline-style: none;
}
.sreach-btn {
  padding: 5px;
  background-color: gray;
  color: $brand-color;
  font-size: 12px;
  text-align: center;
  justify-content: center;
}
input::placeholder {
  font-size: 10px;
  color: rgba(255, 217, 0, 0.588);
}
.cart-icon {
  vertical-align: middle;
  position: absolute;
  top: 5px;
  fill: $brand-color;
}
